package {{crudSetting.servicePackage}};

import com.avaje.ebean.Ebean;
import java.util.*;
import javax.persistence.*;
import play.db.ebean.*;
import play.data.format.*;
import play.data.validation.*;
import models.*;
import {{crudSetting.modelPackage}}.*;
import static play.libs.F.*;
import {{crudSetting.servicePackage}}.DateUtil;
import {{crudSetting.servicePackage}}.OptionUtil;


/**
 * {{crudSetting.serviceClass}}{{crudSetting.serviceSuffix}}
 * 
 * @author harakazuhiro
 */
public class {{crudSetting.serviceClass}}{{crudSetting.serviceSuffix}} {

    /**
     * find all by list
     * @return
     */
    public static List<{{crudSetting.modelClass}}> page(Integer pageSource) {
        Integer page = (pageSource - 1 < 0) ? 0 : pageSource - 1;
        Model.Finder<Long, {{crudSetting.modelClass}}> find = new Model.Finder<Long, {{crudSetting.modelClass}}>(Long.class, {{crudSetting.modelClass}}.class);
        // return find.all();
        return find.order().asc("created")
                .findPagingList({{crudSetting.servicePackage}}.PagingSetting.LIMIT).getPage(page)
                .getList();
    }

    /**
     * find all by list
     * @return
     */
    public static Integer pageMax(Integer pageSource) {
        Integer page = (pageSource - 1 < 0) ? 0 : pageSource - 1;
        Model.Finder<Long, {{crudSetting.modelClass}}> find = new Model.Finder<Long, {{crudSetting.modelClass}}>(Long.class, {{crudSetting.modelClass}}.class);
        // return find.all();
        return find.order().asc("created")
                .findPagingList({{crudSetting.servicePackage}}.PagingSetting.LIMIT).getPage(page)
                .getTotalPageCount();
    }


    /**
     * find all by list
     * @return
     */
    public static List<{{crudSetting.modelClass}}> all() {
        Model.Finder<Long, {{crudSetting.modelClass}}> find = new Model.Finder<Long, {{crudSetting.modelClass}}>(Long.class, {{crudSetting.modelClass}}.class);
        // return find.all();
        return find.
            {{#modelFetchFields}}
            fetch("{{{modelFetchField}}}").
            {{/modelFetchFields}}
            findList();
    }

    /**
     * find one
     * @param id
     * @return
     */
    public static {{crudSetting.modelClass}} first(Long id) {
        Model.Finder<Long, {{crudSetting.modelClass}}> find = new Model.Finder<Long, {{crudSetting.modelClass}}>(Long.class, {{crudSetting.modelClass}}.class);
        // return find.byId(id);
        return find.
            {{#modelFetchFields}}
            fetch("{{{modelFetchField}}}").
            {{/modelFetchFields}}
            where().
            eq("{{crudSetting.modelId}}", id).
            findUnique();
    }

    /**
     * create record
     * @param model
     * @param bindForm
     * @return
     */
    public static {{crudSetting.modelClass}} create({{crudSetting.modelClass}} model, play.data.Form<{{crudSetting.modelClass}}> bindForm) {
        model.setCreated(DateUtil.getCurrentDate());
        {{#crudSetting.modelHasModified}}
        model.setModified(model.getCreated());
        {{/crudSetting.modelHasModified}}
        model.save();

        if(bindForm != null) {
{{#modelAddLogic}}
            /**
             * {{model}} {{member}}
             */
            Model.Finder<Long, {{model}}> {{member}}Finder = new Model.Finder<Long, {{model}}>(Long.class, {{model}}.class);
            for (int i = 0; i < {{model}}{{crudSetting.serviceSuffix}}.all().size(); i++) {
                if(bindForm.field("{{member}}Ids[" + i + "]").value() != null) {
                    model.{{member}}.add({{member}}Finder.by{{crudSetting.modelIdUpperCase}}(Long.valueOf(bindForm.field("{{member}}Ids[" + i + "]").value())));
                }
            }
            model.saveManyToManyAssociations("{{member}}");
{{/modelAddLogic}}

        }

        return model;
    }


    /**
     * update record
     * @param model
     * @param id
     * @param bindForm
     * @return
     */
    public static {{crudSetting.modelClass}} update({{crudSetting.modelClass}} model, Long id, play.data.Form<{{crudSetting.modelClass}}> bindForm) {
        {{crudSetting.modelClass}} entry;
        if(id != null) {
            entry = first(id);
        } else {
            entry = null;
        }
        if(entry != null) {
            model.set{{crudSetting.modelIdUpperCase}}(id);
            {{#crudSetting.modelHasModified}}
            model.setModified(DateUtil.getCurrentDate());
            {{/crudSetting.modelHasModified}}
            //
            model.update();

            if(bindForm != null) {
{{#modelAddLogic}}
                /**
                 * {{model}} {{member}}
                 */
                if(model.{{member}} != null && model.{{member}}.size() > 0) {
                    Ebean.deleteManyToManyAssociations(model, "{{member}}");
                }
                Model.Finder<Long, {{model}}> {{member}}Finder = new Model.Finder<Long, {{model}}>(Long.class, {{model}}.class);
                for (int i = 0; i < {{model}}{{crudSetting.serviceSuffix}}.all().size(); i++) {
                    if(bindForm.field("{{member}}Ids[" + i + "]").value() != null) {
                        model.{{member}}.add({{member}}Finder.by{{crudSetting.modelIdUpperCase}}(Long.valueOf(bindForm.field("{{member}}Ids[" + i + "]").value())));
                    }
                }
                model.saveManyToManyAssociations("{{member}}");
{{/modelAddLogic}}

            }

            return model;
        }
        return null;
    }

    /**
     * delete record
     * @param id
     * @return
     */
    public static Option<{{crudSetting.modelClass}}> delete(Long id) {
        Option<{{crudSetting.modelClass}}> model = OptionUtil.apply(first(id));
        if(model.isDefined()) {
            model.get().delete();
        }
        return model;
    }

{{#methods}}
{{{method}}}
{{/methods}}

}


