<tr id="{{inputOption.wrappedId}}" class="{{inputOption.wrappedClass}}">
    <th><label for="{{model}}.{{name}}">{{name}}</label></th>
    <td>
        @select(
                    bindForm("{{name}}.{{modelId}}"),
                    options(models.crud.{{declaredClassName}}{{crudSetting.fileSuffix}}.options{{targetClassName}}),
                    '_label -> None, '_default -> "-- Choose a {{name}} --",
                    '_showConstraints -> false
                )
    </td>
</tr>
