#<routes path="{{controllerPath}}">
# Authentication
GET     /crud/login                 {{packageName}}.{{className}}.login()
POST    /crud/login                 {{packageName}}.{{className}}.authenticate()
GET     /crud/logout                {{packageName}}.{{className}}.logout()
#</routes path="{{controllerPath}}">
