#<routes path="{{controllerPath}}">
GET     /crud                      {{packageName}}.{{className}}.index()
GET     /crud/                     {{packageName}}.{{className}}.index()
#</routes path="{{controllerPath}}">
